Repository keptn/keptn, changes with the owners that CODEOWNERS names for each.
All owners: @christian-kreuzberger-dtx, @johannes-b, @AloisReitbauer, @grabnerandi, @jetzlstorfer, @danielkhan, @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid

#1815 Move triggeredid into CE-Extensions
  cli/cmd/send_event_approvalFinished.go
  cli/go.mod
  cli/go.sum
Owners: @christian-kreuzberger-dtx, @johannes-b

#1849 added env var for wait time in manifests
  installer/manifests/keptn/continuous-operations.yaml
  remediation-service/deploy/service.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b

#1815 Rename triggerid into triggeredid
  gatekeeper-service/go.mod
  gatekeeper-service/go.sum
  gatekeeper-service/pkg/handler/approval_finished_event_handler.go
  gatekeeper-service/pkg/handler/approval_finished_event_handler_test.go
  gatekeeper-service/pkg/handler/approval_triggered_event_handler.go
  gatekeeper-service/pkg/handler/handler.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1815 Update go-utils
  configuration-service/go.mod
  configuration-service/go.sum
Owners: @christian-kreuzberger-dtx, @johannes-b

#1815 Rename trigger into triggered
  cli/cmd/send_event_approvalFinished.go
  gatekeeper-service/pkg/handler/approval_finished_event_handler_test.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1849 remediation workflow fixes (#1934)
  configuration-service/common/projects_materialized_view.go
  configuration-service/handlers/event.go
  configuration-service/handlers/remediation.go
  configuration-service/handlers/service_approval.go
  installer/manifests/keptn/continuous-operations.yaml
  remediation-service/deploy/service.yaml
  remediation-service/handler/action_finished_handler.go
  remediation-service/handler/evaluation_done_handler.go
  remediation-service/handler/handler.go
  remediation-service/handler/problem_event_handler.go
  remediation-service/handler/problem_open_handler.go
  remediation-service/main.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1815 Use "sh.keptn.event.approval"
  cli/cmd/get_event_approvalTriggered.go
  cli/cmd/get_event_approvalTriggered_test.go
  cli/cmd/send_event_approvalFinished_test.go
  installer/manifests/keptn/continuous-deployment.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b

add security process
  SECURITY.md
Owners: @christian-kreuzberger-dtx, @johannes-b

#1907 get root events from dedicated collection instead of using distinct queries
  mongodb-datastore/handlers/events.go
Owners: @christian-kreuzberger-dtx, @johannes-b

route api traffic to api-gateway-nginx
  bridge/Dockerfile
Owners: @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid

concat baseUrl and reqUrl for api request
  bridge/server/api/index.js
Owners: @christian-kreuzberger-dtx, @johannes-b

fix double slash in api call
  bridge/Dockerfile
  bridge/server/api/index.js
  bridge/server/config/index.js
Owners: @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid, @christian-kreuzberger-dtx, @johannes-b

consume public api for data retrieval in bridge
  bridge/client/app/_interceptors/http-loading-interceptor.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/environments/environment.prod.ts
  bridge/client/environments/environment.ts
  bridge/package.json
  bridge/server/api/index.js
  bridge/server/app.js
  bridge/server/lib/services/ConfigurationService.js
  bridge/server/lib/services/DatastoreService.js
Owners: @christian-kreuzberger-dtx, @johannes-b, @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid

provide API_URL as environment variable
  bridge/Dockerfile
  bridge/server/config/index.js
Owners: @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid, @christian-kreuzberger-dtx, @johannes-b

fix double slash in api call
  bridge/server/api/index.js
  bridge/server/config/index.js
Owners: @christian-kreuzberger-dtx, @johannes-b

provide apiToken for api calls
  bridge/server/api/index.js
  bridge/server/app.js
Owners: @christian-kreuzberger-dtx, @johannes-b

use api-gateway-nginx port 80
  bridge/Dockerfile
  bridge/package.json
Owners: @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid

decode apiToken and parse response correctly
  bridge/server/api/index.js
  bridge/server/app.js
Owners: @christian-kreuzberger-dtx, @johannes-b

adjust models to response from public api
  bridge/client/app/_models/event-result.spec.ts
  bridge/client/app/_models/event-result.ts
  bridge/client/app/_models/project-result.spec.ts
  bridge/client/app/_models/project-result.ts
  bridge/client/app/_models/service-result.spec.ts
  bridge/client/app/_models/service-result.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/project-board/project-board.component.ts
Owners: @christian-kreuzberger-dtx, @johannes-b

provide API_TOKEN as environment variable
  bridge/Dockerfile
  bridge/server/api/index.js
  bridge/server/app.js
  bridge/server/config/index.js
Owners: @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid, @christian-kreuzberger-dtx, @johannes-b

sort traces result by time
  bridge/client/app/_services/data.service.ts
Owners: @christian-kreuzberger-dtx, @johannes-b

provide API_URL and API_TOKEN as environment variable for bridge
  bridge/Dockerfile
  bridge/deploy/bridge.yaml
  bridge/package.json
  bridge/server/api/index.js
  bridge/server/app.js
  installer/manifests/keptn/core.yaml
Owners: @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid, @christian-kreuzberger-dtx, @johannes-b

remove Code smells
  bridge/client/app/_interceptors/http-loading-interceptor.ts
  bridge/client/app/_services/api.service.ts
Owners: @christian-kreuzberger-dtx, @johannes-b

import map rxjs/operator
  bridge/client/app/_services/api.service.ts
Owners: @christian-kreuzberger-dtx, @johannes-b

fix path for getBridgeVersion and getKeptnVersion
  bridge/client/app/_services/api.service.ts
Owners: @christian-kreuzberger-dtx, @johannes-b

#1815 Add triggeredID in KeptnContextExtendedCE
  api/handlers/event.go
  api/models/keptn_context_extended_c_e.go
  api/response_model.yaml
  api/restapi/embedded_spec.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1815 Update go-utils, correct reading of triggeredID
  cli/go.mod
  cli/go.sum
  gatekeeper-service/pkg/handler/approval_finished_event_handler.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1815 Update go-utils to master version
  api/go.mod
  api/go.sum
  api/handlers/event.go
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  gatekeeper-service/go.mod
  gatekeeper-service/go.sum
Owners: @christian-kreuzberger-dtx, @johannes-b

fix baseUrl reference for getAvailableVersions()
  bridge/client/app/_services/api.service.ts
Owners: @christian-kreuzberger-dtx, @johannes-b

fix path for getAvailableVersions() to /api/version.json
  bridge/client/app/_services/api.service.ts
Owners: @christian-kreuzberger-dtx, @johannes-b

omit data property for GET requests
  bridge/server/api/index.js
Owners: @christian-kreuzberger-dtx, @johannes-b

#1907 ensure only one root event per context is stored
  mongodb-datastore/handlers/events.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1815 Move triggeredid into header (#1935)
  api/go.mod
  api/go.sum
  api/handlers/event.go
  api/models/keptn_context_extended_c_e.go
  api/response_model.yaml
  api/restapi/embedded_spec.go
  cli/cmd/get_event_approvalTriggered.go
  cli/cmd/get_event_approvalTriggered_test.go
  cli/cmd/send_event_approvalFinished.go
  cli/cmd/send_event_approvalFinished_test.go
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  gatekeeper-service/go.mod
  gatekeeper-service/go.sum
  gatekeeper-service/pkg/handler/approval_finished_event_handler.go
  gatekeeper-service/pkg/handler/approval_finished_event_handler_test.go
  gatekeeper-service/pkg/handler/approval_triggered_event_handler.go
  gatekeeper-service/pkg/handler/approval_triggered_event_handler_test.go
  gatekeeper-service/pkg/handler/evaluation_done_event_handler.go
  gatekeeper-service/pkg/handler/evaluation_done_event_handler_test.go
  gatekeeper-service/pkg/handler/handler.go
  gatekeeper-service/pkg/handler/handler_test.go
  installer/manifests/keptn/continuous-deployment.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b

#1558 include comprehensive error message in lighthouse result
  lighthouse-service/event_handler/evaluate_sli_handler.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1558 include comprehensive error message in lighthouse result (#1937)
  lighthouse-service/event_handler/evaluate_sli_handler.go
Owners: @christian-kreuzberger-dtx, @johannes-b

Skip openshift and kube namespaces
  cli/cmd/uninstall.go
Owners: @christian-kreuzberger-dtx, @johannes-b

Patch RBAC for lighthouse, fix CE in action handler, info for unhandled events
  helm-service/controller/action_handler.go
  installer/manifests/keptn/rbac.yaml
  lighthouse-service/event_handler/handler.go
  lighthouse-service/main.go
Owners: @christian-kreuzberger-dtx, @johannes-b

Patch RBAC for lighthouse, fix CE in action handler, info for unhandled events (#1939)
  helm-service/controller/action_handler.go
  installer/manifests/keptn/rbac.yaml
  lighthouse-service/event_handler/handler.go
  lighthouse-service/main.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1846 integration tests for self healing
  test/assets/self_healing_problem_open_event.json
  test/assets/self_healing_remediation.yaml
  test/assets/self_healing_shipyard.yaml
  test/test_self_healing.sh
  test/utils.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

#1846 integration of integration tests for self healing
  .travis.yml
Owners: @christian-kreuzberger-dtx

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.

* @christian-kreuzberger-dtx @johannes-b

# Codeowners file
CODEOWNERS @AloisReitbauer @grabnerandi @jetzlstorfer @christian-kreuzberger-dtx @johannes-b @danielkhan

# Adopters file
ADOPTERS.md @AloisReitbauer @grabnerandi @jetzlstorfer

# dot files are usually config files
.* @christian-kreuzberger-dtx

# Keptn Bridge
bridge/* @ermin-muratovic @SaraDavilaMendez @mpfosi @sandroschmid
