Repository keptn/keptn, changes with the owners that CODEOWNERS names for each.
All owners: @christian-kreuzberger-dtx, @johannes-b, @AloisReitbauer, @grabnerandi, @jetzlstorfer, @danielkhan, @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.

* @christian-kreuzberger-dtx @johannes-b

# Codeowners file
CODEOWNERS @AloisReitbauer @grabnerandi @jetzlstorfer @christian-kreuzberger-dtx @johannes-b @danielkhan

# Adopters file
ADOPTERS.md @AloisReitbauer @grabnerandi @jetzlstorfer

# dot files are usually config files
.* @christian-kreuzberger-dtx

# Keptn Bridge
bridge/* @ermin-muratovic @SaraDavilaMendez @mpfosi @sandroschmid

Remove output to remove tiller
  cli/cmd/uninstall.go
Owners: @christian-kreuzberger-dtx, @johannes-b

Apply RBACs for installer also for OpenShift
  cli/cmd/install.go
Owners: @christian-kreuzberger-dtx, @johannes-b

Apply RBACs for installer also for OpenShift (#1943)
  cli/cmd/install.go
Owners: @christian-kreuzberger-dtx, @johannes-b

Remove keptn-datastore install from OC-installer
  installer/scripts/openshift/setupKeptn.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

Installer: Remove keptn-datastore namespace creation (#1945)
  installer/scripts/openshift/setupKeptn.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

#1846 fixed messages for remediation-finished events
  remediation-service/handler/handler.go
  remediation-service/handler/problem_open_handler.go
Owners: @christian-kreuzberger-dtx, @johannes-b

fix wording and update link
  CONTRIBUTING.md
Owners: @christian-kreuzberger-dtx, @johannes-b

#1846 integration test for self_healing
  test/assets/self_healing_problem_open_event.json
  test/assets/self_healing_remediation.yaml
  test/test_self_healing.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

#1846 fixed syntax error in travis script
  .travis.yml
Owners: @christian-kreuzberger-dtx

add link
  CONTRIBUTING.md
Owners: @christian-kreuzberger-dtx, @johannes-b

#1846 extracted helper functions
  test/test_self_healing.sh
  test/utils.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

#1846 minor fixes
  test/test_self_healing.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

#1846 self healing test (#1946)
  .travis.yml
  remediation-service/handler/handler.go
  remediation-service/handler/problem_open_handler.go
  test/assets/self_healing_problem_open_event.json
  test/assets/self_healing_remediation.yaml
  test/assets/self_healing_shipyard.yaml
  test/test_self_healing.sh
  test/utils.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

initial commit
  GOVERNANCE.md
Owners: @christian-kreuzberger-dtx, @johannes-b

show problem and evaluation icons in light gray color
  bridge/client/app/project-board/project-board.component.html
  bridge/client/app/project-board/project-board.component.scss
Owners: @christian-kreuzberger-dtx, @johannes-b

highlight services that are out-of-sync and show the deployable artifacts for that service
  bridge/client/app/_models/project.ts
  bridge/client/app/project-board/project-board.component.html
  bridge/client/app/project-board/project-board.component.scss
  bridge/client/app/project-board/project-board.component.ts
Owners: @christian-kreuzberger-dtx, @johannes-b

#1750 integration test for delivery assistant
  test/assets/delivery_assistant_shipyard.yaml
  test/assets/evaluation_done_event_template.json
  test/test_delivery_assistant.sh
  test/utils.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

#1750 integration test for delivery assistant
  .travis.yml
  test/test_delivery_assistant.sh
  test/test_self_healing.sh
  test/utils.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

#1907 delete root events collection when deleting project
  mongodb-datastore/handlers/events.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1907 store root events during db migration
  upgrader/upgrade-062-070/mongodb-upgrade/main.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1750 Integration tests for delivery assistant (#1947)
  .travis.yml
  test/assets/delivery_assistant_shipyard.yaml
  test/assets/evaluation_done_event_template.json
  test/test_delivery_assistant.sh
  test/test_self_healing.sh
  test/utils.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

#1907 reviewdog remarks
  mongodb-datastore/handlers/events.go
Owners: @christian-kreuzberger-dtx, @johannes-b

Update Local development for Keptn's Bridge
  bridge/README.md
Owners: @ermin-muratovic, @SaraDavilaMendez, @mpfosi, @sandroschmid

#1847 integration test for upscaling
  test/assets/self_healing_scaling_remediation.yaml
  test/test_self_healing_scaling.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

added the permission to read the keptn-domain configmap for the helm service
  installer/manifests/keptn/continuous-deployment.yaml
  installer/manifests/keptn/rbac.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b

update release section
  GOVERNANCE.md
Owners: @christian-kreuzberger-dtx, @johannes-b

#1847 integration test for self healing with scaling
  .travis.yml
  test/assets/self_healing_scaling_remediation.yaml
  test/assets/self_healing_slo.yaml
  test/assets/shipyard_self_healing_scale.yaml
  test/test_self_healing_scaling.sh
  test/utils.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

added the permission to read the keptn-domain configmap for the helm service (#1952)
  installer/manifests/keptn/continuous-deployment.yaml
  installer/manifests/keptn/rbac.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b

#1907 inverted sorting order of root events
  mongodb-datastore/handlers/events.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1942 updated dependency to kubernetes utils
  cli/go.mod
  cli/go.sum
Owners: @christian-kreuzberger-dtx, @johannes-b

#1951 Run NGINX in unprivileged mode
  installer/manifests/keptn/api-gateway-nginx.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b

#1942 updated dependency to kubernetes utils (#1955)
  cli/go.mod
  cli/go.sum
Owners: @christian-kreuzberger-dtx, @johannes-b

#1907 replace previous root event if necessary
  mongodb-datastore/handlers/events.go
  upgrader/upgrade-062-070/mongodb-upgrade/main.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1907 fixed collection selection
  mongodb-datastore/handlers/events.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1907 fixed golint remarks
  mongodb-datastore/handlers/events.go
Owners: @christian-kreuzberger-dtx, @johannes-b

#1951 Extend role for Openshift-Route service
  installer/manifests/keptn/uniform-distributors-openshift.yaml
  platform-support/openshift-route-service/deploy/service.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b

#1951 Fix uniform install for openshift
  installer/manifests/openshift/route-service-openshift.yaml
  installer/manifests/openshift/uniform-distributors-openshift.yaml
  installer/scripts/openshift/installOnOpenshift.sh
  installer/scripts/openshift/wearUniform.sh
Owners: @christian-kreuzberger-dtx, @johannes-b

#1951 Fix service account
  installer/manifests/openshift/route-service-openshift.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b

#1951 Correct resource types for oc route
  installer/manifests/openshift/route-service-openshift.yaml
  installer/manifests/openshift/uniform-distributors-openshift.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b

#1951 Remove resourceName for creates
  installer/manifests/openshift/route-service-openshift.yaml
  installer/manifests/openshift/uniform-distributors-openshift.yaml
Owners: @christian-kreuzberger-dtx, @johannes-b
