Repository keptn/keptn, changes with the owners that CODEOWNERS names for each.
All owners: @keptn/maintainers, @AloisReitbauer, @johannes-b, @jetzlstorfer, @warber, @grabnerandi, @ermin-muratovic, @laneli, @Kirdock, @heinzburgstaller, @TannerGilbert, @mowies, @christian-kreuzberger-dtx

CODEOWNERS:

#################################################################################
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in the repo.
#################################################################################
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#################################################################################
# FYI: Owners will be auto-assigned for code reviews as well
#################################################################################

# Maintainers own everything: Keptn Maintainers https://github.com/orgs/keptn/teams/maintainers/members
* @keptn/maintainers


########################################################################################################################
# Special Interests and Approvers (https://github.com/orgs/keptn/teams/approvers/members)
# Those will be automatically selected as Reviewers for a PR, if the files are touched.
########################################################################################################################

# Organization owners need a fallback for the CODEOWNERS file
CODEOWNERS @AloisReitbauer @johannes-b @jetzlstorfer @warber

# Adopters file
ADOPTERS.md @AloisReitbauer @grabnerandi @jetzlstorfer

# UI / Keptn Bridge
bridge/ @ermin-muratovic @laneli @Kirdock @heinzburgstaller @TannerGilbert

# Release Notes
releasenotes/ @johannes-b @warber

# Keptn Spec subfolder (git submodule)
specification/ @johannes-b @warber

# Pipeline related things
.github/ @mowies @christian-kreuzberger-dtx
gh-actions-scripts/ @mowies @christian-kreuzberger-dtx

build(deps): update module github.com/nats-io/nats.go to v1.20.0
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Owners: @keptn/maintainers

build(deps): update module github.com/otiai10/copy to v1.9.0
  resource-service/go.mod
  resource-service/go.sum
Owners: @keptn/maintainers

build(deps): update module github.com/spf13/viper to v1.14.0
  cli/go.mod
Owners: @keptn/maintainers

go mod tidy
  api/go.sum
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  gh-actions-scripts/auto-update-utils.sh
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Owners: @keptn/maintainers, @mowies, @christian-kreuzberger-dtx

build(deps): update module golang.org/x/crypto to v0.3.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Owners: @keptn/maintainers

go mod tidy
  cli/go.mod
  cli/go.sum
Owners: @keptn/maintainers

build(deps): update module golang.org/x/time to v0.3.0
  api/go.mod
  api/go.sum
Owners: @keptn/maintainers

build(deps): update k8s.io/utils digest to 99ec85e
  api/go.mod
  api/go.sum
Owners: @keptn/maintainers

build(deps): update dependency mongodb to v4.12.1
  bridge/server/package.json
  bridge/server/yarn.lock
Owners: @ermin-muratovic, @laneli, @Kirdock, @heinzburgstaller, @TannerGilbert

build(deps): update module github.com/spf13/cobra to v1.6.1
  cli/go.mod
Owners: @keptn/maintainers

build(deps): update module github.com/tryvium-travels/memongo to v0.8.0
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Owners: @keptn/maintainers

build(deps): update module go.mongodb.org/mongo-driver to v1.11.0
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Owners: @keptn/maintainers

build(deps): update module go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp to v0.36.4
  api/go.mod
  api/go.sum
Owners: @keptn/maintainers

build(deps): update module golang.org/x/net to v0.2.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Owners: @keptn/maintainers

build(deps): update module golang.org/x/oauth2 to v0.2.0
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
Owners: @keptn/maintainers

go mod tidy
  mongodb-datastore/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Owners: @keptn/maintainers

build(deps): update module golang.org/x/text to v0.5.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Owners: @keptn/maintainers

build(deps): update module gopkg.in/yaml.v2 to v2.4.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Owners: @keptn/maintainers

build(deps): update module github.com/moby/moby to v20
  cli/go.mod
Owners: @keptn/maintainers

build(deps): update module k8s.io/client-go to v11
  api/go.mod
  lighthouse-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  webhook-service/go.mod
Owners: @keptn/maintainers

build(deps): update module github.com/tryvium-travels/memongo to v0.8.0
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Owners: @keptn/maintainers

build(deps): update module github.com/moby/moby to v20
  cli/go.mod
Owners: @keptn/maintainers

build(deps): update module gopkg.in/yaml.v2 to v2.4.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
  webhook-service/go.sum
Owners: @keptn/maintainers

go mod tidy
  api/go.mod
Owners: @keptn/maintainers

build(deps): update module golang.org/x/text to v0.5.0
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Owners: @keptn/maintainers

build(deps): update module golang.org/x/oauth2 to v0.2.0
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
Owners: @keptn/maintainers
